<div class="sleep-details">
  <h2>睡眠記録詳細</h2>
  <p><strong>睡眠開始時間:</strong> <%= @sleeping.start_time %></p>
  <p><strong>睡眠終了時間:</strong> <%= @sleeping.end_time %></p>
  <p><strong>睡眠の質:</strong> <%= @sleeping.quality %></p>
  <p><strong>メモ:</strong> <%= @sleeping.memo %></p>
</div>

<%= link_to "編集", edit_sleeping_path(@sleeping), class: :prototype__btn %>
<%= link_to "戻る", sleepings_path, class: "btn btn-secondary" %>
<%= link_to "削除", sleeping_path(@sleeping.id), data: { turbo_method: :delete },class: :prototype__btn %>